h1 {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}

a {
    font-size: 15px;
}