h1{
    text-align: center;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 27px;
}
p {
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    color: white;
    text-align: center;
}
body {
    background-color: background-color #444;

}
video{
    border: 10px #333; 
}
