h1 {
    color: chartreuse;
    font-family: fantasy;
    background-color: darkred;
    text-align: center;


}

.stroke {
    color: white;
    background-color: white;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
  }

