h1 {
    color: red;
    font-size: 250px;
    text-shadow: 2px 2px 2px #000000;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

p{
    color: black;
    font-size: 25px;





}